<a href="https://colab.research.google.com/github/sebavassou/Estatistica_Inferencial/blob/main/Exercicio001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Load the dataset with the correct delimiter
df_payroll = pd.read_csv('payroll_dataset.csv', delimiter=';')

# Inspect the dataset
print(df_payroll.head())
print(df_payroll.info())

       date                                 nome  matricula  \
0  01/01/16  ADAILTON JOSE BARROS DAMASO TENORIO       2710
1  01/01/16            ADEILSON ALEXANDRE FREIRE        846
2  01/01/16           ADEILSON FERREIRA DA SILVA       3158
3  01/01/16                        ADEILSON LINS       1386
4  01/01/16            ADEILTON APRIGIO DA SILVA        847

                           cargo                nivel valor_base proventos  \
0  PROCURADOR GERAL ADJUNTO CC-1         COMISSIONADO    5500,00   4500,00
1                 GARI 40H N-I E       GARI 40H N-I E     937,00   1320,00
2     VIGILANTE 40H - CONTRATADO             CONTRATO     937,00    880,00
3     VIGILANTE 40H - CONTRATADO             CONTRATO     937,00    880,00
4            VIGILANTE 40H N-I E  VIGILANTE 40H N-I E     937,00    968,00

  descontos  liquido
0    760,00  3740,00
1    154,00  1166,00
2     70,40   809,60
3     70,40   809,60
4    322,29   645,71
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190289 entries, 0 to 190288
Data columns (total 9 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   date        190289 non-null  object
 1   nome        190289 non-null  object
 2   matricula   190289 non-null  int64
 3   cargo       190289 non-null  object
 4   nivel       190289 non-null  object
 5   valor_base  190289 non-null  object
 6   proventos   190289 non-null  object
 7   descontos   190289 non-null  object
 8   liquido     190289 non-null  object
dtypes: int64(1), object(8)
memory usage: 13.1+ MB
None